.heroSection {
    width: 100%;
    padding: clamp(100px, calc(57.143px + 13.393vw), 250px) 0 clamp(80px, calc(-40px + 37.5vw), 500px);
    border-bottom: 5px solid var(--sections-border-bottom);
    background: url(./assets/img/bg/bg1.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 60%;   
    background-size: cover;
    object-fit: cover;
    justify-content: center;
    display: flex;   
}

.bookCard {
    background-color: var(--white-card);
    padding: 20px;
    color: var(--text-color);
    border-radius: 15px;
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 700px;
    box-shadow: 3px 3px 27px 4px rgba(0, 0, 0, 0.27);
    border-radius: 20px;
    tbody{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .priceStyle{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .priceLikesStyle{
    background-color: var(--secondary-color-opacity);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .marginTop{
        margin-top: 15px;
    }

}

.txtAlign{
    text-align: center;
}

.flexDivRow{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.flexstyle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardStyle {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px;
    justify-content: center;
    align-items: center;
}

.bookImg {
    height: 49%;
    width: 80%;
    object-fit: contain;
}

.boldFont{
font-weight: bold;
}

.sentImg {
    height: 30px;
    width: 30px
}

.inputStyle {
    border: none;
    appearance: none;
    padding: 8px;
    color: var(--text-color);
    border-bottom: 2px solid var(--assets-color);
    flex: 1;
}

.inputStyle::placeholder {
    color: var(--assets-color);
}

.inputStyle:focus::placeholder {
    border: none;
}

.flexDivCol {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.commentHeadingStyle{
    color: var(--assets-color);
    margin: 10px;
}

.overflowText {
    overflow: auto;
    scrollbar-width: thin;
}

.logo {
    width: 100%;
    height: 80px;
    text-align: left;
}

.underBorder {
    border-bottom: 5px solid var(--sections-border-bottom);
}

.categoryWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 20px;

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 30px;
        border-radius: 10px;
        background-color: var(--white-card);
        box-shadow: 3px 3px 27px 4px rgba(0, 0, 0, 0.27);

        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.commentBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        padding: 10px;
        background-color: var(--primary-color);
}

.headingPlacement{
    position: absolute;
    top: 20px;
}