:root{
    --background-header-footer:#ef7941;
    --white-card:#ffffff;
    --assets-color:rgb(46 163 200);
    --input-background:rgb(133 176 189 / 17%);
    --sections-border-bottom: #2d31424a;
    --max-width:1440px;
    --bg-color: #f6ead2;
    --text-color: #2D3142;
    --primary-color: #4ea8de30;
    --secondary-color: #FFD166;
     --secondary-color-opacity:#ffd1664f;
    --card-bg: #FFFFFF;
    --shadow-color: rgba(0, 0, 0, 0.05);
}

